/* You can add global styles to this file, and also import other style files */
/* === Poppins Local Import (.ttf only) === */
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}





:root{
    --color-1: #1DB954;
    --color-2: #323232;
    --color-3: #000000;
    --color-4: #FFFFFF;
    --color-5: #181818;/**/
    --font-size-1: 1rem; /* con tamaño base predeterminado 1rem equivale a 16px */
    --font-size-2: 1.2rem;/* esto equivale a 19.2px */
    --font-size-3: 1.8rem;/* esto equivale a 29px */
    --shadow-1: rgb(0 0 0 / 35% ) 0px 7px 29px 0px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem; /* 0.25rem =0.25 × 16px= 4px       entonces son 4px*/
    --border-radius-2: .5rem; /* 0.5rem =0.5×16 px=8px      entonces son 8px */
    --font-family-1: 'Poppins', 'sans-serif';
    --animation-1: 200ms;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: var(--color-3);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-4);
}